* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e4f1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTAINER */
.container {
    background: #ffffff;
    border-radius: 20px;
    width: 850px;
    max-width: 100%;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}

/* FORM AREA */
.form-container {
    position: absolute;
    height: 100%;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

form {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    height: 100%;
    text-align: center;
}

input {
    background: #f0f7ff;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 8px;
    outline: none;
}

/* BUTTONS */
button {
    border-radius: 20px;
    border: none;
    padding: 12px 35px;
    background: #4da3ff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

button:hover {
    background: #1c8aff;
}

button.ghost {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

/* OVERLAY AREA */
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* LIGHT BLUE GRADIENT */
.overlay {
    background: linear-gradient(120deg, #89c9ff, #4da3ff, #1c8aff);
    color: #fff;
    position: relative;
    height: 100%;
    width: 200%;
    left: -100%;
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    height: 100%;
    width: 50%;
}

.overlay-left {
    transform: translateX(-20%);
}

.overlay-right {
    right: 0;
    transform: translateX(20%);
}
